{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Advanced juggling licence
      </h1>

      <p>You may be eligible for an advanced juggling licence. This means you can juggle in public.</p>

      <p><a href="http://jugglingplaza.com/advanced-juggling-tricks/">Check the detailed guidance</a> from the Ministry for Circuses to find out what else you need to do.</p>

    </div>
  </div>
</main>

{% endblock %}
