{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

        <form class="form" action="juggling-objects-answer" method="post">

        <div class="form-group">
        <fieldset>

          <legend>
            <h3 class="heading-large">Which objects can you juggle?</h3>
            <span class="body-text">Select all that apply</span>
          </legend>

          <div class="multiple-choice">
            <input id="object-1" name="balls" type="checkbox" value="Balls" {{ checked("balls", "Balls" )}}>
            <label for="object-1">Balls</label>
          </div>
          <div class="multiple-choice">
            <input id="object-2" name="skittles" type="checkbox" value="Skittles" {{ checked("skittles", "Skittles" )}}>
            <label for="object-2">Skittles</label>
          </div>
          <div class="multiple-choice">
            <input id="object-3" name="torches" type="checkbox" value="Flaming torches" {{ checked("torches", "Flaming torches" )}}>
            <label for="object-3">Flaming torches</label>
          </div>

        </fieldset>
      </div>

      <div class="form-group">
        <input class="button" type="submit" value="Continue">
      </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
