{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/lesson-plans-resources.html">Back</a>

      <h1 class="heading-large">
        Providers of learning resources
      </h1>


  <h2>BBC Teach</h2>
    <p>BBC Teach provides free classroom resources to schools, covering 22 subjects, ranging from early years to GCSE/Nationals and Highers.
      <a href="https://www.bbc.com/teach" target="_blank">https://www.bbc.com/teach</a></p>

        <h2>British Council Schools Online</h2>
      <p>Schools Online provides free classroom resources to introduce or boost international learning and find schools to partner with overseas.
    <a href="https://schoolsonline.britishcouncil.org/about-programmes" target="_blank">https://schoolsonline.britishcouncil.org/about-programmes</a></p>

      <h2>Plan Bee</h2>
<p>Plan Bee provides lesson packs with plans, presentations, activity ideas and printable resources.
    <a href="https://www.planbee.com/" target="_blank">https://www.planbee.com/</a></p>

      <h2>Twinkl</h2>
      <p>Twinkl is a commercial provider of teacher-created planning and assessment materials, teaching resources.
      <a href="https://www.twinkl.co.uk/" target="_blank">https://www.twinkl.co.uk/</a></p>


      <h2>TES</h2>
      <p>TES provides resources for teachers and schools in a mix of subscriptions and bundles.  <a href="https://www.tes.com/teaching-resources" target="_blank">https://www.tes.com/teaching-resources</a></p>
    </div>
  </div>
</main>

{% endblock %}
